@import '../../styles/share.scss';
// <div className='header'>
//       <div className="header-logo"><Logo /></div>
//       <div className="header-nav"><Nav /></div>
//       <div className="header-cart"><Cart /></div>
//     </div>
.header {
  display: flex;
  align-items: center;
  background: $backgroundColor;
  border: 1px solid $borderColor;
  margin-bottom: 2px;

  .header-nav {
    flex: 1
  }

}